<style>
    .buttonSummit {
        background-color: blue;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
    }
  </style>
  
  
  
    <div class="space30">&nbsp</div>
<div class="container-fluid">
  <div id="chart_div" style="width:400; height:300; float:right"></div>
  <div class="space"> </div>
  
  <h3 align="center">Thống kê doanh số bán hàng<a href="/admin" style="float:left; font-size: 14px; border: 1px solid #e1e1e1; padding-right: 5px"><i class="fa fa-angle-left" style="font-size: 25px; color: #00cc6a"></i>Quay lại</a></h3>
	<div class="space20">&nbsp;</div>
  
  <center>
    Tổng doanh thu hiện nay:<b><i><%=tongdoanhthu.tongsp%> đ</i></b>
  </h3></center>
  <p></p>
  <div class="space20">&nbsp</div>
  <center>
    <p>Chọn cách thống kê doanh số</p><br/>
    <form  method="POST" action="thongkebanhang">
      <select id="type" name="loai" onchange="myFunction()" style="width: 100px">
        <option value="none">none
        <option value="ngay">Ngày
        <option value="thang">Tháng
        <!-- <option value="quy">Quý -->
        <option value="nam">Năm
      </select>
  
      <input type="date" name="bday" id="ngay">
      <input type="month" name="bmonth" id="thang">
      <input type="number" name="byear" id="nam" min="1900" max="2099" step="1" value="2019">
  
      <div class="space"> </div>
      <input type="submit" class="buttonSummit" value="Áp Dụng" style="background-color: #0277b8; padding: 7px;">
    </form>
  </center>
  
  <script>
  document.getElementById("type").value="none";
  document.getElementById("ngay").style.display="none";
  document.getElementById("thang").style.display="none";
  document.getElementById("nam").style.display="none";
  
  function myFunction() {
    var ngay = document.getElementById("ngay");
    var thang = document.getElementById("thang");
    var nam = document.getElementById("nam");
    var x = document.getElementById("type").value;
  
    if(x=="ngay")
    {
      ngay.style.display="block";
      thang.style.display="none";
      nam.style.display="none";
    }
    else  if(x=="thang")
    {
      ngay.style.display="none";
      thang.style.display="block";
      nam.style.display="none";
    }
    else  if(x=="nam")
    {
      ngay.style.display="none";
      thang.style.display="none";
      nam.style.display="block";
    }
  }
  </script>
  
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.charts.load('current', {
      'packages': ['corechart']
    });
  
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Topping');
      data.addColumn('number', 'Slices');
      data.addRows([
        ['Nước hoa Nhập khẩu',<%= tongdoanhthu.tongket["nuochoanhapkhau"]%>] ,
        ['Nước hoa Nội', <%= tongdoanhthu.tongket["nuochoanoi"]%>],
        ['Nước hoa Công sở', <%= tongdoanhthu.tongket["nuochoacongso"]%>],
        ['Nước hoa Du lịch', <%= tongdoanhthu.tongket["nuochoadulich"]%>],
       
      ]);
  
      // Set chart options
      var options = {
        'title': 'Thống kê theo sản phẩm đã bán\nTổng sản phẩm: <%= tongdoanhthu.tongsp%> ',
        'is3D': true,
        'width': 400,
        'height': 300
      };
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
  </script>

